.navbar{
    margin: 0px;
    background-color: white;
    max-width: 1440px;
    border-bottom: 1px solid green;
    position: sticky;
    top: -40px;
}

.logo{
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.dashboard{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    flex-wrap: wrap;
    margin: 0px;
    align-items: center;
    margin: 0px;

}

.left{
    display: flex;
    gap: 50px;
    
}

.right{
    display: flex;
    gap: 50px;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    color: blue;
}

.right p{
    font-size: 1.35rem;

}

.btn{
    cursor: pointer;
    padding: 7px;
    border: none;
    background-color: rgb(78, 235, 72);
    font-size: 1rem;
}
