.navbar{
    margin: 0px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(180, 177, 177);
    
}

.logo{
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.dashboard{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    flex-wrap: wrap;
    margin: 0px;
    align-items: center;

}

.left{
    display: flex;
    gap: 50px;
    
}

.right{
    display: flex;
    gap: 50px;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
}

.btn{
    cursor: pointer;
    padding: 5px;
}
