.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.username {
    display: flex;
    align-items: center;
    gap: 20px;
}

.password {
    display: flex;
    align-items: center;
    gap: 20px;
}

